
  .form-column{
    gap: 10px; 
      display: flex;
      flex-direction: column;
    
  }

  .loading{
    align-self: center
  }

  .recipes-layout{
    gap: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  }



  @media (max-width: 1000px) {
    .recipes-layout {
      margin-top: 50px;
     

    }
  }

  @media (max-width: 767px) {
    .recipes-layout {
      flex-direction: column;
      margin-top: 250px;
      

    }
  }
  @media (max-width: 350px) {
    .recipes-layout {
      flex-direction: column;
      margin-top: 350px;
     

    }
  }