.card-simple {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.card-simple img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-simple-name {
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  position: absolute;
  width: 100%;
}


  
  